<div class='container'>
<div class='bordered-div'>
<h2 style='color:white'> Resource </h2> </div>
<br>
<ul> <li><h4>Please Click to <%= link_to 'Start Chatting', chatrooms_path, style:'text-decoration:none'%><%= image_tag 'chatIcon.png', alt: "Logo", width: "50", height: "50", style: "margin-left: 15px;" %></h4></li> </ul>
 <div><%= image_tag("/assets/bg2", height: 'auto', width: '400') %> <%= image_tag("/assets/bg1", height: 'auto', width: '400') %> 
 <%= image_tag("/assets/bg3", height: 'auto', width: '400') %>
 </div>
</div>


