<div class='container'>
<div class="user-profile">
  <h2><%= @user.full_name %></h2>
  <p>Email: <%= @user.email %></p>
  <% if @user.avatar_url.present? %>
    <%= image_tag @user.avatar_url, class: "img-fluid ", style: "width: 250px; height: 250px;" %>
  <% end %>
</div>
  <br>
  <% if current_user == @user %>
  <%= link_to "Back", root_path, class: "btn btn-secondary" %>
  <% else %>
  <%= link_to "Back", chatrooms_path, class: "btn btn-secondary" %>
  <% end %>
</div>