<!DOCTYPE html>
<html>
  <head>
    <title>IChat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render partial: "shared/header" %> 
    <p class="notice" style='padding:22px'><%= notice %></p> 
       <p class="alert" style='padding:22px'><%= alert %></p>

       
      <!-- <div class="video-background">
    <video autoplay muted loop poster="">
    <source src="<%= video_url('videoBg.mp4') %>" type="video/mp4">
    </video>
  </div> -->
<style>
  <%= ".msg-#{current_user&.id}" %> {
  background-color: #007bff !important;
  padding: 10px;
  margin-left:
  }
  <%= ".cont-#{current_user&.id}" %> {
  display: flex;
  justify-content: flex-end
  }
</style>
    <%= yield %>
    <%= render partial: "shared/footer" %>
  </body>
</html>
