<!DOCTYPE html>
<html>
  <head>
    <title>IChat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render partial: "shared/header" %>
   <div style='padding:22px'> 
    <p class="notice"><%= notice %></p> 
       <p class="alert"><%= alert %></p>
       </div>

       
       <div class="video-background">
    <video autoplay muted loop poster="">
    <source src="<%= video_url('videoBg.mp4') %>" type="video/mp4">
    </video>
  </div>
<style>
  <%= ".msg-#{current_user&.id}" %> {
  background-color: #007bff !important;
  padding: 10px;
  }
  <%= ".cont-#{current_user&.id}" %> {
  display: flex;
  justify-content: flex-end
  }
</style>
    <%= yield %>
    <%= render partial: "shared/footer" %>
  </body>
</html>
